project:
  url: https://github.com/orgs/optivem/projects/20
repo_strategy: mono-repo
sonar:
  organization: optivem
system:
  architecture: multitier
  config: docker/${SYSTEM_LANG}/multitier/systems.yaml
  backend:
    path: system/multitier/backend-${SYSTEM_LANG}
    repo: optivem/shop
    lang: ${SYSTEM_LANG}
    sonar_project: optivem_shop-multitier-backend-${SYSTEM_LANG}
  frontend:
    path: system/multitier/frontend-react
    repo: optivem/shop
    lang: typescript
    sonar_project: optivem_shop-multitier-frontend-react
system_test:
  path: system-test/${TEST_LANG}
  config: ${TEST_CONFIG}
  repo: optivem/shop
  lang: ${TEST_LANG}
  sonar_project: optivem_shop-tests-${TEST_LANG}
